/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}
/*--------------------------------Navigation---------------------------------*/

#home_page{
  font-family: 'Montserrat', sans-serif;

/*  margin: 0;
  padding: 0;*/
  background-color: orange;
}

#logo{
  display: inline-block;
  position: relative;
  transform: translateY(50%);
}

#logo h1{
  font-size: 35px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  float:left;

}

#logo h2{
  font-size: 20px;
  color: white;
  font-weight: 400;
  letter-spacing: 5px;
  float:left;
  clear: left;
}

.navigation-container{
  width: 1000px;
  margin: 0 auto;
  height: 80px;

}

.navigation-bar{
  background-color: #262626;
  height: 100px;
  width: 100%;
}

.navigation{
  float:right;
/*  position: relative;*/
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 10px 0px 10px;
  letter-spacing: 2px;
}

/*------------------------Lumenus-----------------------------------------*/

.container {
  margin: 0 auto;
/*  width: 250px;
  height: 200px;*/
  width: 559px;
  height: 346px;
  position: relative;
  perspective: 3000px;
  padding-top: 210px;
}

.carousel {

  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 559px;
  height: 346px;
  text-align: center;
/*  opacity: 0.95;*/
}

.a {
  transform: rotateY(0deg) translateZ(559px);

}
.b {
  transform: rotateY(60deg) translateZ(559px);

}
.c {
  transform: rotateY(120deg) translateZ(559px);

}
.d {
  transform: rotateY(180deg) translateZ(559px);

}
.e {
  transform: rotateY(240deg) translateZ(559px);

} 
.f {
  transform: rotateY(300deg) translateZ(559px);

}
/*------------------------Macbook-----------------------------------------*/
.macbook{

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.macbook img{
  height: 550px;
  width: auto;
  margin-top: -50px;
  -webkit-box-reflect: below -20px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);
}



/*------------------------Button-----------------------------------------*/

.next {
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #262626;
}

.prev{
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid #262626;
}

.next { 
  right: 5em; 
}
.prev { 
  left: 5em; 
}

img{
-webkit-box-reflect: below 10px -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, transparent 50%, transparent 100%);

}



